.naveen{
    font-size:50px;
text-align: center;
margin: 300px
}
body{
    padding:0;
    margin: 0;
    background:red;
    
    
}.virat{
    position: absolute;
    width:500px;
    height:100px
}.loading{

}